/* ========== list pages =============== */

/* DARK
@list-background-color:white;
@list-background-color-complement:lightgrey;
@list-button-background-color:#848484;
@list-button-color:black;
@list-icon-section-color:black;
*/

/* PINK
@list-background-color:#e0006d;
@list-background-color-complement:#bb0066;
@list-button-background-color:black;
@list-button-color:white;
@list-icon-section-color:black;
 */

/* GREEN
@list-background-color:#1abc9c;
@list-background-color-complement:#16a085;
@list-button-background-color:#2c3e50;
@list-button-color:white;
@list-icon-section-color:#34495e;
  */
 
/* BLUE */
@list-background-color:#073765;
@list-background-color-complement:#00274e;
@list-button-background-color:black;
@list-button-color:white;
@list-icon-section-color:#45bbf8;


/* FLASHY
@list-background-color:#2ecc71;
@list-background-color-complement:#2980b9;
@list-button-background-color:#e74c3c;
@list-button-color:#f1c40f;
@list-icon-section-color:#34495e;
*/


/* ========== portfolio main page =============== */

@main-background-color:white;

/* ========== welcome =============== */

@welcome-title-color:white;
@welcome-subtitle-color:#18b8d6;
@welcome-box-border-color:white;
@welcome-line-color:white;
@welcome-subbox-background-color:black;

/* ========== navigation-bar =============== */
@navigation-bar-background-color:white;
@navigation-bar-border-color:white;
@navigation-bar-color:#45bbf8;

/* ========== portfolio ==========*/
@row-node-border-color:lightgrey;
@row-resource-border-color:lightgrey;

@portfolio-link-color:#337ab7;

@portfolio-section-title-background-color: #ffffff;

@portfolio-navbar-color:black;
@portfolio-navbar-link-color:#ffffff;

@portfolio-sidebar-color : #073765;
@portfolio-sidebar-link-color:#ffffff;
@portfolio-sidebar-selected-border-color:#09bbd9;
@portfolio-sidebar-link-selected-color:#09bbd9;
@portfolio-sidebar-separator-color:#08a4bf;

@portfolio-buttons-color:#09bbd9;
@portfolio-buttons-background-color:#d8d8d8;

@page-title-background-color:#d8d8d8;
@page-title-subline-color:#09bbd9;